<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Newsfeed #<%= @newsfeed.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/newsfeeds" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link newsfeed start -->
      <div class="col">
        <% if current_user == @newsfeed.user %>
          <a href="/newsfeeds/<%= @newsfeed.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit newsfeed
          </a>
        <% end %>
      </div>
      <!-- Edit link newsfeed end -->

      <!-- Delete link newsfeed start -->
      <div class="col">
        <% if current_user == @newsfeed.user %>
          <a href="/delete_newsfeed/<%= @newsfeed.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete newsfeed
          </a>
        <% end %>
      </div>
      <!-- Delete link newsfeed end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @newsfeed.user.present? %>
          <a href="/users/<%= @newsfeed.user_id %>">
            <%= @newsfeed.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Profile
      </dt>
      <!-- Display profile_id start -->
      <dd>
        <%= @newsfeed.profile_id %>
      </dd>
      <!-- Display profile_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@newsfeed.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@newsfeed.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
